<%= simple_form_for product do |form| %>
 <%= form.error_notification %>

  <%= form.input :name%>

  <div class="field">
    <%= form.label :product_category_id %>
    <%= form.collection_select :product_category_id, ProductCategory.order(:name), :id, :name, include_blank: false, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :brand_id %>
    <%= form.collection_select :brand_id, Brand.order(:name), :id, :name, include_blank: false, prompt: true %>
  </div>

  <%= form.input :description %>
<p>
  <%= form.association :allergens, as: :check_boxes, wrapper: :vertical_collection_inline %>
  <%= form.association :ingredients, as: :check_boxes, wrapper: :vertical_collection_inline %>

  <input type="checkbox" name="nazwa" value="wartość" onclick="document.getElementById('id').style.display = this.checked ? 'block' : 'none'; this.form.elements['amount'].disabled">
    <div id="id" style="display: none">
    	<input type="text" name="amount">
    </div>
<p>
    <%= link_to 'New Ingredient', new_ingredient_path %>

    <%= form.input :ingredient_amount %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
