<!DOCTYPE html>
<html>
  <head>
    <title>Checkallergy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
  body {
    padding-top: 5rem;
  }
  div.boolean label, label.collection_radio_buttons {
    float: none;
    margin: 0;
  }
  </style>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <a class="navbar-brand">
            <%= link_to root_path do %>
              <%= image_tag "/images/logo/logo.svg", size: "40x40" %>
            <% end %>
            </a>

          <li class="nav-item dropdown">
            <% unless devise_controller? %>
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Poczytaj o alergiach</a>


              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <%= render @allergens %>
              </div>
            <% end %>

            <li class="nav-item">
              <%= link_to "Products", products_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= render 'devise/menu/registration_items' %>
            </li>
            <li class="nav-item">
              <%= render 'devise/menu/login_items' %>
            </li>
            <li class="nav-item">
              <%= link_to "User Account", current_user, class: "nav-link" %>
            </li>


        </ul>
      </div>
    </nav>
    <main role="main" class="container">
    <%= yield %>
    </main>
  </body>
  </html>
